/**
 * Footheme footheme.css
 *
 * Use this file to add your custom styles.
 *
 * You can change the name of this file, just
 * remember to update the name in the info file
 * as well.
 */

/*****************/
/* Page Settings */
/*****************/

#content-wrapper {
  border: none;
  padding-bottom: 5px;
}

#main-content {
  margin-top: 1em;
}

#footer-wrapper {
  border: none;
}

a:link, a:visited, a:active, a.active, li a.active {
  font-weight: bold;
}

.snw-b #site-name, .ssw-b #site-slogan, .ptw-b #page-title, .ntw-b .node-title, .ctw-b .comment-title, .btw-b .block-title {
  font-weight: normal;
}

h2.pane-title.block-title,
.pta-l h1#page-title,
h1#page-title,
h1.node-title {
  text-align: center;
  letter-spacing: -1px;
  font-weight: normal;
}

h1#page-title,
h1.node-title {
  padding: 20px;
  font-size: 40px;
  text-shadow: 2px 2px 0 rgba(0,0,0,0.15);
}
.panel-pane h2.pane-title.block-title {
  text-align: left;
}

.pane-boondocking-available-parent h2.pane-title.block-title, 
.pane-user-about h2.pane-title.block-title {
  text-align: center;
}

.pane-boondocking-available-parent .block-content h2.pane-title.block-title,
.pane-user-about .block-content h2.pane-title.block-title {
  text-align: left;
}


input#edit-submit {
  padding: 5px 20px;
  font-size: large;
  color: #3b4520;
  border: 1px solid #3b4520;
}

/* Form Settings */
.form-item .description,
.text-format-wrapper .description {
  font-size: .9em;
  margin: 0 0 .5em 0;
}

fieldset {
  margin-top: 20px;
}

/****************/
/* Header Items */
/****************/

/* General Header settings 
----------------------------------------------- */
.hl-l .region-header .block {
  vertical-align: top;
  display: block;
}

.hl-l .region-header {
  width: calc(100% - 270px); /* room for logo */
  margin-left: 0px;
}

#header-wrapper .block-logintoboggan {
  float: right;
}

#header-wrapper nav .block-inner {
  float: right;
}

@media screen and (max-width: 400px) {
  #header-wrapper img.site-logo {
    width: 200px;
  }
}

@media screen and (max-width: 320px) {
   .hl-l .region-header {
    width: inherit;
   }
}

/* Menus
---------*/

.mean-container .mean-bar,
.mean-container .mean-nav {
  background-color: #3B4520;
}

.mean-container a.meanmenu-reveal span{
  background-color: white;
}

.mean-container .mean-nav ul li a{
  color: white;
}

/* Social Icons 
----------------------------------------------- */
a.social-icons img {
  vertical-align: middle;
}

a.social-icons {
  margin-right: 5px; /*Adjust This Value As Needed*/
}

a.social-icons:hover {
  opacity: .7;
  filter:alpha(opacity=70); /* For IE8 and earlier */
}

/* Search Bar
----------------------------------------------- */
#block-google-cse-google-cse label {
  visibility: hidden;
  height: 0px;
}

#google-cse-results-searchbox-form input {
  border-color: #3b4520;
  color: #3b4520;
}

#google-cse-results-searchbox-form input.form-text {
  width: 180px; 
  background: none !important;
  margin-bottom: 10px;
}


/**********************/
/* Sliding Draw Items */
/**********************/

/* Login Link
----------------------------------------------- */

#draw-wrapper #block-user-login {
  max-width: 100%;
  float: right;
}

#draw-wrapper #block-user-login .form-actions input {
  color: white;
  background: inherit;
  font-weight: bold;
  border-width: 2px;
  font-size: medium;
}

#draw-wrapper .form-item {
  margin: 0;
}

#draw-wrapper #user-login-form div div {
  display: inline-block;
  padding: 0px 10px;
}

#draw-wrapper #user-login-form .item-list {
  display: block;
  text-align: right;
  font-size: 15px;
}


/****************/
/* Logo Items  */
/****************/

#branding {
  margin: 0px 10px;
  width: 250px;
}

/*****************/
/* Tabs          */
/*****************/

#tasks ul {
  border-bottom: 1px solid #dddddd;
  margin-bottom: 5px;
}

#tasks li.active,
#tasks li.active-parent a {
  border: 1px solid #dddddd;
  border-bottom: 0px;
  border-radius: 7px 7px 0 0;
  background-color: white;
}

#tasks li.active a.active,
#tasks li.active-parent a {
  padding: 5px 8px 10px 8px;
  margin-right: 0;
}

#tasks ul li {
  float: left;
  margin-bottom: -1px;
}

#tasks ul li a {
  padding: 4px 12px 5px 12px;
}

/****************/
/* Landing Page */
/****************/

/* Top level 
-----------*/
#page #content-wrapper {
  padding-top: 0;
}

.page-landing-page #block-system-main {
  margin-bottom: 5px;
}

.HomePageButton {
  padding: 10px;
  background-color: #3b4520;
  color: #ffffff !important;
}

a.HomePageButton:hover {
  opacity: .7 !important;
  filter:alpha(opacity=70) !important; /* For IE8 and earlier */
}

/* Featured Host Slider
-------------------------*/
.view-featured-host-slideshow .featured-host-image {
  float: left;
  padding-right: 10px;
}

/* Main Headline */
#MainHeadline {
  background: url(/sites/boondockerswelcome.com/files/media/LandingPageImages/TheGroveBanner.jpg) center;
  height: 350px;
}

#MainHeadline h1 {
  text-align: center;
  text-transform: uppercase;
  font-weight: 900;
  padding-top: 20px;
  color: white;
}

#MainHeadline h2 {
  text-align: center;
  font-size: 40px;
  font-weight: 900;
  color: white;
}

@media screen and (min-width:1000px) {
#MainHeadline h1 {
  font-size: 55px;
}
#MainHeadline h2 {
  font-size: 40px;
}
}

@media screen and (min-width:830px) and (max-width:1000px) {
#MainHeadline h1 {
  font-size: 45px;
}
#MainHeadline h2 {
  font-size: 35px;
}
}

@media screen and (min-width:600px) and (max-width:830px) {
#MainHeadline h1 {
  font-size: 40px;
}
#MainHeadline h2 {
  font-size: 30px;
}
}

@media screen and (max-width:600px) {
#MainHeadline h1 {
  font-size: 35px;
}
#MainHeadline h2 {
  font-size: 28px;
}
}


/* Landing Page Map
--------------------*/
#LandingPageMapBlock {
  background-color: #f0d290;
  padding: 20px 10px;
}
#LandingPageMapBlock .node{
  margin-bottom: 0px;
}

#LandingPageMapBlock .map-panel-buttons {
  margin-top: 20px;
}

#HomeMapImg img{
  float: right;
  width: 650px;
  padding-left: 10px;
}

#HomeMapText h2 {
  line-height: 1.1em;
  padding-bottom: 5px;
}

#HomeMapText h4 {
  line-height: 1.2em;
  padding-bottom: 5px;
}

@media screen and (min-width:1000px) {
  #HomeMapText {
    padding-top: 120px;
  }
}
@media screen and (min-width:880px) and (max-width:1000px) {
  #HomeMapText {
    padding-top: 80px;
  }
}

@media screen and (max-width:835px) {
  #HomeMapImg img {
    float: none;
    width: 100%;
    padding-left: 0px
  }
}

/* Benefits Block 
-------------------*/

#mini-panel-landing_page_benefit_panes .block {
  max-width: 700px;
  margin: auto;
  padding: 10px 0;
}

#mini-panel-landing_page_benefit_panes .panel-separator {
  border-bottom: 1px grey solid;
  max-width: 700px;
  margin: auto;
}

#mini-panel-landing_page_benefit_panes .odd .BenefitImage img {
  float: left;
  padding-right: 20px;
}

#mini-panel-landing_page_benefit_panes .even .BenefitImage img {
  float: right;
  padding-left: 20px;
}


#mini-panel-landing_page_benefit_panes .block,
#mini-panel-landing_page_benefit_panes .node {
  margin-bottom: 0px;
}


#mini-panel-landing_page_benefit_panes .BenefitsText {
  padding-bottom: 10px;
}
#mini-panel-landing_page_benefit_panes .pane-title,
#mini-panel-landing_page_benefit_panes .CallToAction {
  text-align: center;
}



/* Testimonials and Fetured Hosts Block 
--------------------------------------*/

.TestimonialsPane {
  background-color: #f2c836;
  padding: 20px 10px;
}

.TestimonialsPane .TestimonialContainer {
  clear: both;
}

.TestimonialsPane .TestimonialImage {
  float: left;
  padding-right: 15px;
  width: 100px;
}

.TestimonialsPane .TestimonialTitle,
.MoreTestimonialsPane .TestimonialTitle {
  font-weight: bold;
  text-transform: capitalize;
  font-size: large;
}

.TestimonialsPane .TestimonialAuthor,
.MoreTestimonialsPane .TestimonialAuthor {
  text-align: right;
  width: 90%;
  font-weight: bold;
  font-style: italic;
  padding-bottom: 15px;
  padding-top: 5px;
}

.TestimonialsPane .TestimonialContainer.last .TestimonialAuthor, 
.MoreTestimonialsPane .TestimonialContainer.last .TestimonialAuthor {
  padding-bottom: 0px;
}

.TestimonialsPane .node,
.MoreTestimonialsPane .node {
  margin-bottom: 0px;
}

/* How it works block 
--------------------*/
#HowItWorks h2.pane-title {
  text-align: center;
}

#HowItWorks .block-content {
  text-align: center;
}

#HowItWorks img {
  height: 130px;
}

#HowItWorks .pane-title {
  padding-bottom: 10px;
  font-size: xx-large;
}

/* As Featured In
--------------------*/

#AsFeaturedInTitle {
 text-align: center;
 font-size: 2em;
 font-weight: bold;
 width: 240px;
 margin: auto;
 border-bottom: #3b4520 6px double;
 margin-bottom: 10px;
 color: #3b4520;
}

#AsFeaturedInContent {
  text-align: center;
}

.AsFeaturedInLogo {
  display: inline;
}

.AsFeaturedInLogo img{
 padding: 10px;
 height: 50px;
}

#as-seen-in .block-content {
 text-align: center;
}

#as-seen-in {
  margin-bottom: 5px;
}

/* Proud Member of Block
--------------------*/

#proud-member-of .pane-title {
  text-align: center;
}

.ProudMemberOfImg img {
  padding: 10px;
  height: 80px;
}

.ProudMemberOfImg {
  display: inline;
}

#ProudMemberOfContent {
  text-align: center;
}

/* Guarantee Block */
#SatisfactionGuaranteed img {
  float: left;
  padding-right: 10px;
  height: 150px;
}


/****************/
/* User Page    */
/****************/

.page-user h1#page-title {
  border-bottom: 1px grey solid;
  margin-bottom: 20px;
}

.page-user .pane-boondocking-available-parent {
  border-radius: 7px;
  background-color: #eeeeee;
  padding: 10px;
}

.page-user .pane-boondocking-available-parent .pane-title,
.page-user .pane-user-about .pane-title {
  text-align: center;
  font-size: xx-large;
}

.block-content .pane-title,
.pane-boondocking-available-parent .block-content .pane-title, 
.page-user .pane-user-about .block-content .pane-title {
  text-align: left;
  font-size: x-large;
}


.page-user #block-system-main .row-1 {
  margin: 5px;
}

.views-field-field-user-photo img {
  float: left;
  padding-right: 5px;
}
@media screen and (min-width:700px) {
  .pane-group-memberships {
    float: right;
    max-width: 500px;
  }
}
@media screen and (max-width:699px) {
  .pane-group-memberships {
    float: none;
  }
}

.GroupMemberships .MembershipBadge {
  display: inline-block;
  padding: 0 10px;
}

.GroupMemberships .MembershipBadge img{
  height: 75px;
}

div[id^="memberbadge-"] .inner{
/*  border: 1px solid black; */
  background-color: black;
  color: white;
  border-radius: 7px;
  padding: 5px;
  font-size: 18px
}

div[id^="memberbadge-"] .inner h3{
  color: white;
  font-size: 15px;
}

.class-badgepopup a.popup-close-button {
  font-size: 12px;
}

/****************/
/* Maps         */
/****************/

@media screen and (min-width:800px) {
  .AllUserMapView .gmap-control {
    height: 500px !important;
  }
}
@media screen and (max-width:475px) {
  .AllUserMapView .gmap-control {
  }
}

/*****************/
/*   General     */
/*****************/
.cta-button {
  margin-top: 35px;
  text-align: center;
}

.cta-button a {
  padding: 10px 20px;
  border: 1px solid #3b4520;
  border-radius: 6px;
  background-color: #70833d;
  margin: 10px;
  color: white;
  white-space:nowrap;
}

@media screen and (max-width:410px)
{
  .cta-button a {
    font-size: large;
  }
}
@media screen and (min-width: 411px)
{
  .cta-button a {
    font-size: x-large;
  }
}


.cta-button a:focus,
.cta-button a:hover {
  -moz-box-shadow: 0 0 10px 5px rgba(112, 131, 61, 0.5);
  -webkit-box-shadow: 0 0 10px 5px rgba(112, 131, 61, 0.5);
  box-shadow: 0 0 10px 5px rgba(112, 131, 61, 0.5);
}

.node.article {
  margin-bottom: 0px;
}

/* Node title and pane title both appear on nodes... just want pane title */
/* .node-title 
  visibility: hidden;
  height: 0px;
} */


  /* Enable scroll bars (do not hide them) in chrome */
  .view-searchlocationresults ::-webkit-scrollbar,
  .view-listings-by-state ::-webkit-scrollbar {
        -webkit-appearance: none;
  }
  ::-webkit-scrollbar:vertical {
        width: 11px;
  }

  ::-webkit-scrollbar:horizontal {
        height: 11px;
  }

  ::-webkit-scrollbar-thumb {
        border-radius: 8px;
            border: 2px solid #ccc; /* should match background, can't be transparent */
                background-color: rgba(0, 0, 0, .5);
  }

  ::-webkit-scrollbar-track {
        background-color: #ccc;
            border-radius: 8px;
  }


/*****************/
/* User Profiles */
/*****************/

.views-label {
  font-size: 1.2em;
  font-weight: 700;
  font-family: 'Trebuchet MS', 'Helvetica Neue', Arial, Helvetica, sans-serif;
  color: #3B4520;
}

/* Services Icons and legend */

.ServiceIcon {
  display: inline-block;
  padding: 0px 5px;
}

.ServiceIcon img {
  width: 60px;
}

.SiteServicesLegend .ServiceIcon {
  display: table;
}

.SiteServicesLegend .ServiceIcon img{
  width: 45px;
  float: left;
  padding-right: 10px;
  padding-bottom: 10px;
}

@media screen and (max-width:1121px) {
  .ServiceIcon img{
    width: 40px;
  }
}

@media screen and (min-width:480px) and (max-width:1000px)
{
  #legend-0-active .popup-element-body table.popup-layout {
    left: -175px;
  }
}

.popup-element-body.class-legend a.popup-close-button {
  background: none;
  top: -10px;
  right: 0px;
}

.popup-element-body.class-legend a.popup-close-button span {
  display: block;
}  

.ServiceIcon.NotAvailable {
  opacity: 0.10;
  -ms-filter:”progid:DXImageTransform.Microsoft.Alpha(Opacity=10)”; /* ie 8 */
  filter: alpha(opacity=10); /* ie lt 7 */
  -khtml-opacity: .10; /* safari 1.x */
  -moz-opacity: .10; /* ff lt 1.5, netscape */
}
.SiteProvides,
.SiteWelcomes {
  position: relative;
}

.SiteServices h2.NoServices {
  position: absolute;
  top: 20%;
  font-style: italic;
  opacity: 0.8;
  width: 100%;
  text-align: center;
}

.SiteDetails .RVCount,
.SiteDetails .RVSize,
.SiteDetails .MaxNights {
  position: relative;
}

.SiteDetails .RVCount h3, 
.SiteDetails .RVSize h3,
.SiteDetails .MaxNights h3 {
  position: absolute;
  top: 0px;
  width: 85%;
  text-align: center;
  color: white;
  font-size: 17px;
}

@media screen and (max-width:1121px) {
  .SiteDetails .RVCount h3, 
  .SiteDetails .RVSize h3,
  .SiteDetails .MaxNights h3 {
    font-size: 12px;
  }
}

.SiteDetails .RVCount.LegendIcon h3, 
.SiteDetails .RVSize.LegendIcon h3,
.SiteDetails .MaxNights.LegendIcon h3 {
  font-size: 12px;
  left: 17px;
  width: inherit;
  text-align: left;
}

.SiteSerivcesLegend {
  width: 280px;
}

.LegendIcon {
  float: left;
  display: block;
  width: 140px;
  height: 50px;
  margin-bottom: 10px;
}

.LegendText {
  font-size: 15px;
}

.LegendHeader {
  font-weight: bold;
  margin-bottom: 15px;
}

.pane-bda-details-d7-panel-pane-1 {
  padding-top: 40px;
}

@media screen and (max-width:480px) {
  .pane-bda-details-d7-panel-pane-1 {
    padding-top: 0px;
  }
}

.pane-user-recommendations-and-respons {
  border-radius: 7px;
  background-color: #eeeeee;
  padding: 10px;
}

.adr .region {
  float: inherit !important;
}

section.pane-user-about {
  padding-top: 20px;
}

/*****************
 * Search Listings Page *
 ************************/

.SearchMethods {
  padding-top: 10px;
}

.SearchMethod {
  padding: 5px;
}

.SearchMethod a {
  font-size: x-large;
}

.SearchMethod img {
  float: left;
  padding: 5px 15px 2px 0px;
}

.SearchMethodDescription {
  min-height: 140px;
}

@media screen and (max-width: 640px) {
  .SearchMethod img {
    width: 75px;
  }
  .SearchMethodDescription {
    min-height: 85px;
  }
}


/*************************
 * How it Works  Page *
 ************************/

.HowItWorks {
  padding-top: 10px;
}

.HowItWorksItem {
  padding: 5px;
  margin: 20px 5px;
}

.HowItWorksTitle {
  font-size: x-large;
}

.HowItWorksImg img {
  float: left;
  width: 150px;
  padding: 5px 15px 2px 0px;
}

.HowItWorksText {
  min-height: 140px;
}

@media screen and (max-width: 640px) {
  .HowItWorksImg img {
    width: 75px;
  }
  .HowItWorksText {
    min-height: 85px;
  }
}

/*******************************
/* Search Results Formatting */
/*******************************/

/**Search Result formatting **/
  .section-searchlistings .attachment-before
  {
    padding: 0px 10px 0px 0px;
  }

  .view-display-id-attachment_1
  {
    padding: 0;
    margin: 0 0 -10px 0;
    border: solid #555555 5px;
  }


  .search-results
  {
    min-height: 200px;
  }

  .search-results .view-content .item-list
  {
/*    height: 600px; */
    overflow: auto;
    padding: 5px;
    font-size: 12px;
    margin-top: 10px;
    /* line-height: 1.3em; */
  }

  .search-results li {
    margin-left: 5px;
  }

  .search-results ul
  {
    list-style-type: none;
  }

  .search-results .item-list ul li
  {
    padding: 0 0 10px 0;
  }

  .search-results .item-list .field-content
  {
    font-weight: bold;
    text-transform: capitalize;
  }

  .attachment .search-results .item-list .pager
  {
    display: none;
  }

@media screen and (max-width: 539px) {
  .search-results .attachment {
    float: none;
    margin: 0 10px;
  }

  .search-results .view-content .item-list {
    min-width: none;
    float: none;
    height: inherit;
  }
}
@media screen and (min-width: 540px) {
  .search-results .attachment
  {
    float: right;
    width: 70%;
  }
  
  .search-results .view-content .item-list { 
    width: 28%;
    float: left;
  }
}


  .search-results .item-list .pager
  {
    color: blue;
    font-size: 20px;
    padding: 20px 0 0 0;
  }

  .search-results .item-list .pager a
  {
    color: #3B4520;
    font-size: 20px;
    padding: 0px 5px;
  }

  .search-results .item-list .pager-current 
  {
    color: grey;
    font-weight: normal;
    padding: 0px 5px;
  }


  .search-results .views-field-field-user-photo-fid
  {
    float: right;
/*    width: 200px; */
    padding: 5px;
    overflow: hidden;
  }

  #Search-The-Boondocking-Listings {
    max-width: 800px;
    margin: auto;
  }

  #Search-The-Boondocking-Listings table {
    border: none;
  }

  #Search-The-Boondocking-Listings table td {
    padding: 5px;
  }

  #Search-The-Boondocking-Listings img {
  }

  .search-results .views-field-field-user-photo-fid
  {
    float: right;
/*    width: 200px; */
    padding: 5px;
    overflow: hidden;
  }

  .page-searchbystate #content .section
  {
    min-height: 800px;
  }


  .gm-style .gm-style-iw {
    font-weight: inherit;
  }

/***********************/
/* Membership Benefits */
/***********************/

.MembershipBenefits {
  max-width: 900px;
  margin: 20px auto 40px auto;
  padding: 15px 25px 5px 25px;
  border: solid grey 2px;
}

.MembershipBenefits ul {
  margin-bottom: 5px;
}

.MembershipBenefits li {
  background-image: url(/sites/boondockerswelcome.com/files/media/iconsets/misc/benefitcheck.png);
  background-repeat: no-repeat;
  padding-top: 15px;
  padding-left: 50px;
  min-height: 50px;
  list-style: none;
  margin-left: -10px;
}

/*************************/
/* Membership Product Page   */
/*************************/

.section-membership-products #content-wrapper .container {
  max-width: inherit;
}

.section-membership-products #main-content {
  margin-left: 0px;
  margin-right: 0px;
}

.section-membership-products #main-content h1#page-title {
  background-color: #eeeeee;
  padding: 20px;
  font-size: 40px;
  font-weight: normal;
  letter-spacing: -1px;
  text-shadow: 2px 2px 0 rgba(0,0,0,0.15);
}

.section-membership-products #content-wrapper #content {
  max-width: 1140px;
  margin: 20px auto;
}


.section-membership-products .membership-option {
  text-align: center;
}

.section-membership-products .membership-option .block-content {
  margin: 10px auto;
  max-width: 300px;
}

.section-membership-products .membership-option h2.pane-title.block-title{
  font-size: large;
  text-align: center;
}

.section-membership-products .membership-option .MembershipTypeImg {
  min-height: 225px;
  vertical-align: bottom;
}

.section-membership-products .membership-option .MembershipType {
  font-weight: bold;
  font-size: x-large;
  padding-bottom: 10px;
}

.section-membership-products #membership-option-host .MembershipType {
  color: #3d7d7d;
}

.section-membership-products #membership-option-guest-only .MembershipType {
  color: #c12e25;
}


.section-membership-products .membership-option .Product {
  font-weight: bold;
  font-size: 20px;
  padding: 3px 0;
  color: #3b4520;
}


.section-membership-products #membership-option-host .cta-button a {
  background-color: #3d7d7d;
}

.section-membership-products #membership-option-host .cta-button a:focus,
.section-membership-products #membership-option-host .cta-button a:hover {
  -moz-box-shadow: 0 0 10px 5px rgba(61, 125, 125,  0.5);
  -webkit-box-shadow: 0 0 10px 5px rgba(61, 125, 125, 0.5);
  box-shadow: 0 0 10px 5px rgba(61, 125, 125, 0.5);
}

.section-membership-products #membership-option-guest-only .cta-button a {
  background-color: #c12e25;
}

.section-membership-products #membership-option-guest-only .cta-button a:focus,
.section-membership-products #membership-option-guest-only .cta-button a:hover {
  -moz-box-shadow: 0 0 10px 5px rgba(193, 46, 37, 0.5);
  -webkit-box-shadow: 0 0 10px 5px rgba(193, 46, 37, 0.5);
  box-shadow: 0 0 10px 5px rgba(193, 46, 37, 0.5);
}

.section-membership-products .region-two-50-second {
  margin-bottom: 20px;
}

.section-membership-products .EarlyRenewalBonus {
  color: red;
  font-weight: bold;
}

/* Testimonails on product page */

.section-membership-products .region-two-50-bottom {
  border-top: 1px solid #e6e6e6;
  max-width: 1000px;
  margin: 0 auto;
  padding: 10px;
}

@media screen and (max-width:479px) {
  .section-membership-products .TestimonialContainer {
    width: inherit;
    display: block
    float: none;
    margin: 10px 5%;
  }
}
@media screen and (min-width:480px) {
  .section-membership-products .TestimonialContainer {
    width: 40%;
    display: table;
    float: left;
    margin: 10px 5%;
  }
}

.MoreTestimonialsPane .TestimonialImage {
  float: left;
  padding-right: 15px;
  width: 100px;
}

/* More Information Pane */
.MoreInformationPane h2 {
  padding-bottom: 10px;
}

@media screen and (min-width:1000px) {
  .MoreInfoOption {
    display: inline;
    width: 33%;
    float: left;
  }
}
@media screen and (max-width:999px) {
  .MoreInfoOption {
    display: block;
    float: none;
  }
  .MoreInfoOptions {
    max-width: 400px;
    margin: 5px auto;
  }
}

.MoreInfoOption img {
  vertical-align: middle;
  height: 44px;
  padding-right: 5px;
}

/* Individual product pages */
form.commerce-add-to-cart input, 
.add-to-cart #edit-actions input, 
input#edit-checkout, 
input#edit-continue, 
input.node-add-to-cart, 
input.list-add-to-cart {
}

/*****************/
/* Full Member Home Page */
/*************************/


.view-news-and-reminders .views-field-title {
  font-size: 20px;
  text-shadow: none;
  text-align: left;
  padding-left: 0px;
  text-transform: Capitalize;
  text-align: center;
}

.view-news-and-reminders .views-field-created {
  font-style: italic;
  padding-bottom: 10px;
} 

.view-news-and-reminders .views-field-title a {
  font-weight: normal;
}

.view-news-and-reminders .views-field-field-featured-image img {
  width: inherit;
  float: left;
  padding-right: 10px;
  padding-bottom: 5px;
}

.member-bonuses img {
  float: right;
  padding-left: 10px;
  height: 90px;
}

.referral-rewards img {
  float: left;
  padding-right: 10px;
  height: 130px;
}

.recent-news img {
  float: left;
  padding-right: 10px;
}

.view-bda-loc-block .view-content {
  padding: 10px;
}

.view-bda-loc-block img{
  float: right;
  width: 100px;
}

.submit-testimonial img {
  float: right;
  padding-left: 5px;
  width: 100px;
}

/*****
 * Node specific config 
 */

.page-node .submitted {
  font-style: italic;
}

.node-membership-level img {
  float: right;
  padding-left: 10px;
}

/****
 * Member Bonuses
 */

.MemberBonusItem.odd img {
  padding-right: 20px;
  float: left;
}

.MemberBonusItem.even img {
  padding-left: 10px;
  float: right;
}

.MemberBonusItem {
  clear: both;
  width: 800px;
  margin: auto;
  padding-top: 30px;
}

/****
 * News and Reminders
 */

.view-news-and-reminders .views-row {
  clear: both;
  padding-top: 20px;
}

.view-news-and-reminders .views-row .views-field-title {
  font-size: 30px;
  text-align: left;
}

/****
 * Messages Block
 */
.pane-messages img {
  float: right;
  padding-left: 5px;
  width: 60px;
}


/*************
 * Forms     *
 *************/


#profile2_profile_form_group_memberships label {
  display: inline;
  padding-right: 5px;
}

